@import "tailwindcss";

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scaleIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}


@keyframes wave {

	0%,
	100% {
		transform: scaleY(0.6);
	}

	50% {
		transform: scaleY(1);
	}
}

.animate-fadeIn {
	animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
	animation: scaleIn 0.3s ease-out;
}

.animate-slideUp {
	animation: slideUp 0.3s ease-out;
}